name: Deploy for production

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
      - '!**.md'
  workflow_dispatch:

jobs:
  test_ci:
    name: Run Test CI
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test_ci
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: github.repository == 'inialum/inialum-error-notification-service'
    permissions:
      contents: read
      deployments: write
    defaults:
      run:
        working-directory: app

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Start deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: Production

      - name: Deploy to Cloudflare Workers
        run: pnpm run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          IS_PRODUCTION_DEPLOY: true

      - name: Update deployment status
        uses: bobheadxi/deployments@v1
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
